<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean name="triangle" class="simplespring.Traiangle" >
		<property name="side" value="3" />
	</bean>
	<bean name="triangle1" class="simplespring.Traiangle">
		<property name="side" value="8" />
	</bean>
	<bean name="triangle2" class="simplespring.Traiangle" autowire="byType" />
	<bean name="stud" class="simplespring.Student">
		<constructor-arg value="12" />
		<constructor-arg value="mahesh" />
	</bean>

</beans>
